html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(160deg, #3c415b, #000000);
  background-size: cover;
  font-family: "Tinos", serif;
  color: #ffffff;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  background: linear-gradient(
    135deg,
    #b2c7b6,
    #8da69b
  ); /* Gradient background */
  padding: 15px;
  height: 4.25em; /* Adjust height as needed */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease-in-out;
}

nav:hover {
  background: linear-gradient(
    135deg,
    #8da69b,
    #b2c7b6
  ); /* Hover effect for subtle change */
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.page-header {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

#logo {
  width: 50px;
  margin-left: 10px; /* smaller spacing between name and logo */
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

nav ul li a {
  color: white;
  background-color: #b75b47;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}

.burger-button {
  font-size: 30px;
  color: #000000;
  float: right;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 800px) {
  .burger-button {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.69);
    height: 100%;
    text-align: center;
    top: 65px;
    left: -120%;
    transition: all 1s;
  }

  nav ul li {
    display: block;
    padding: 30px 0;
  }

  nav ul li a {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
